@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}
.name-brand {
    display: flex;
    flex: 1 1 10rem;
}
.logo img {
    width: 150px;
}
.name {
    font-weight: 600;
    font-size: 2vh;
}
.type {
    color: #e94964;
    font-weight: 600;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin: 25px;
    font-size: 1.5vh;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.description {
    padding: 2px 16px;
}

.img-bedrom {
    height: 200px;
    width: 100%;
}